<section>





<div class="Aboutpage-header">
  <h1>About</h1>
</div>

<div class="Abtpage-section">
  <div class="abtpage-img">
    <img src="/img/PXL_20210731_144817255.PORTRAIT~2.jpg" alt="" class="aboutpage-image">
  </div>

  <div class="abtpage-intro">
    <h2 class="about-header">Hi! I'm Yetunde Olounjeiya</h2>
    <p class="about-tag">an unapologetic foodie</p>
    <p class="aboutpage-paragraph"> I love to eat and explore exciting indigenous Nigerian dishes/meals.
I also love to write and document personal fun reviews of native meals; bringing the nostalgia of your favorite foods to your screens. </p>
  </div>
</div>


<div class="abtpage-journey">
  <h2>How The Journey Started</h2>
</div>



</section>
