


<form class="" action="/submit-chronicle" enctype="multipart/form-data" method="POST">



  <div class="row">
    <div class="col-lg-8 chronicle-div">
      <label for="name"></label>
      <h2>What's your Name?</h2>
      <input type="text" name="name" id="name" class="search-box" placeholder="Enter your name">

      <label for="foodsummary"></label>
      <h2>A short catchy summary of your food story</h2>
      <textarea type="text" name="foodsummary" id="foodsummary" rows="3" cols="10" placeholder="E.g I once abandoned my soup on the stove, and fled the kitchen because the catfish in my soup refused to die.">


      <label for="foodstory"></label>
      <h2>Share your food story with the World</h2>
      <textarea id="foodstory" name="foodstory" rows="4" cols="30" placeholder="Input your text here" class="chronicle-textarea"></textarea>

      <button type="submit" class="btn btn-primary">Publish</button>

    </div>

    <div class="col-lg-4 chronicle-div">
      <div class="blog-aboutdiv ">
        <img src="/img/DSC_2844 (2).JPG" alt="" class="about-img">
        <h3 class="about-header">Hi! I'm Yetunde Olounjeiya</h3>
        <p class="about-tag">an unapologetic foodie</p>
        <p class="about-paragraph">I love to explore, and document exciting fun reviews of Nigerian dishes/meals.
           </p>
        <button class=" abt-button" type="button" name="button" onclick="location.href='/about'">READ MORE</button>
      </div>
    </div>


  </div>

</form>
